synchronize.sh
.idea/
data/
DWIE_trained_vanilla/LONGFormer_model_paramsInstancesInstances/
EventNarrative/
Event_KG/
preprocess_event_narrative.ipynb/
BRT4DIS.ipynb/
EN_trained/
finetuned_BART_vanillaDWIE_on_EN_long/
finetuned_BART_semanticsDWIE_on_EN_long/
finetuned_models/
