synchronize.sh
.idea/
data/
DWIE_trained_vanilla/LONGFormer_model_paramsInstancesInstances/
Datasets/EventNarrative/EN_train.json
Datasets/EventNarrative/EN_test.json
Datasets/EventNarrative/EN_validation.json
Datasets/EventNarrative/short_Instances

Event_KG/
preprocess_event_narrative.ipynb/
BRT4DIS.ipynb/
EN_trained/
finetuned_BART_vanillaDWIE_on_EN_long/
finetuned_BART_semanticsDWIE_on_EN_long/
finetuned_models/
